  <h2>List of Cocktails</h2>

  <p>Name of the cocktail:</p>

  <% @cocktails.each do |cocktail| %>
  <%=link_to cocktail_path(cocktail) do %>
  <%= cocktail.name %>
  <% end %>
  <% end %>
  <p><%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-success"%></p>

